@media screen and (max-width: 1230px) {
  nav {
    row-gap: 20px;
  }
  .logo {
    grid-column: 1/4;
    justify-self: center;
  }

  .nav-list {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 1200px) {
  /* Section 2 responsive */
  .image_section {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    justify-items: center;
  }

  .content_section {
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
  }

  .main-heading h1 {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .nav-list {
    grid-column: 1/4;
  }

  .nav-list-second {
    grid-column: 1/4;
    justify-self: center;
  }

  /* Section 2 responsive */
  .image-one {
    max-width: 75%;
    height: auto;
  }

  .main-heading {
    justify-items: center;
    font-size: 20px;
    font-weight: 700;
  }

  .content-paragraph p {
    width: 72%;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    width: 100%;
  }

  nav .nav-list,
  nav .nav-list-second {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    top: 64px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
    padding: 10px;
    row-gap: 20px;
    box-sizing: border-box;
  }

  .nav-list-second {
    justify-items: start;
  }

  nav .btn {
    color: black;
    padding: 0;
    font-weight: bold;
    background-color: hsl(0, 0%, 98%);
  }

  nav .btn:hover {
    font-size: 17px;
    color: hsl(12, 88%, 59%);
    font-weight: 900;
    background-color: hsl(0, 0%, 98%);
    text-decoration: underline;
  }
  nav .nav-list .nav-item {
    text-align: start;
    padding: 0 10px;
  }

  nav .nav-links {
    text-align: left;
  }

  nav .navbar-toggler {
    display: grid !important;
    row-gap: 7px;
  }

  /* Section 2 responsive */
  .image-one {
    max-width: 100%;
    height: auto;
  }

  .content-paragraph p {
    width: 100%;
  }

  .main-heading {
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .main-heading {
    font-size: 14px;
    font-weight: 500;
  }
}
