.colors {
  width: 600px;
  height: 500px;
  background-color: hsl(0, 0%, 98%);
  background-color: hsl(13, 100%, 96%);
  background-color: hsl(233, 12%, 13%);
  background-color: hsl(227, 12%, 61%);
  background-color: hsl(228, 39%, 23%);
  background-color: hsl(12, 88%, 59%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  background-color: hsl(0, 0%, 98%);
  font-family: "Montserrat", sans-serif;
}

/* Section 1 CSS */
.main_navbar {
  position: sticky;
  top: 0;
}

nav {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  padding: 20px 20px;
  box-sizing: border-box;
}

nav .nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: capitalize;
}

nav .nav-list .nav-items {
  display: grid;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
}

nav .nav-list .nav-items .nav-links {
  color: black;
  font-weight: bold;
}

nav .nav-list .nav-items .nav-links:hover {
  color: hsl(12, 88%, 59%);
  font-weight: 900;
  text-decoration: underline;
  font-size: 17px;
}

.nav-list-second {
  display: grid;
  justify-items: end;
}

nav .btn {
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 23px;
  text-transform: capitalize;
  text-decoration: none;
}

nav .btn:hover {
  color: white;
  background-color: hsl(228, 39%, 23%);
}

nav .navbar-toggler {
  display: none;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  background-color: hsl(228, 39%, 23%);
  border-radius: 23px;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .nav-list-second {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* Section 2 CSS */
.main_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 50px 20px;
}

.content_section {
  display: grid;
  row-gap: 30px;
  justify-items: center;
}

.main-heading {
  display: grid;
  justify-items: end;
  font-size: 24px;
  font-weight: 900;
  color: hsl(228, 39%, 23%);
}
.main-heading h1 {
  width: 75%;
}

.content-paragraph {
  display: grid;
  justify-items: center;
  color: hsl(227, 12%, 61%);
}

.content-paragraph p {
  width: 50%;
}

.content-button button {
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 23px;
  text-transform: capitalize;
  text-decoration: none;
}

.content-button button:hover {
  color: white;
  background-color: hsl(228, 39%, 23%);
}

.image_section {
  width: 100%;
}

.image-one {
  width: 570px;
  height: auto;
}

/* Section 3 CSS */
.second_content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 30px;
  grid-gap: 20px;
  padding: 50px 20px;
  box-sizing: border-box;
}

.content_section_one {
  width: 100%;
}

.content_section_one h3 {
  color: hsl(228, 39%, 23%);
  font-size: 26px;
  font-weight: 700;
}

.content_section_one p {
  color: hsl(227, 12%, 61%);
}

.content_section_second {
  width: 100%;
  display: grid;
  row-gap: 20px;
}

.content_paragraph_one {
  width: 100%;
}

.neasted-paragraph-one {
  display: flex;
  column-gap: 30px;
}

.iteam-one {
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: hsl(12, 88%, 59%);
  color: white;
}

.iteam-two {
  color: hsl(228, 39%, 23%);
}
.neasted-paragraph-two {
  color: hsl(227, 12%, 61%);
  display: grid;
  justify-items: center;
  align-items: center;
}

.neasted-paragraph-two p {
  padding-left: 94px;
}

/* Section 4 CSS */
.third_content {
  display: grid;
  justify-items: center;
  padding: 50px 20px;
  box-sizing: border-box;
  row-gap: 30px;
}

.third_section-A {
  color: hsl(228, 39%, 23%);
  font-size: 26px;
  font-weight: 700;
}

.third_section-A h3 {
  padding-bottom: 70px;
}

.third_section-B {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.section-B-a {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  row-gap: 20px;
  border-radius: 15px 50px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 2px 6px 12px hsl(227, 12%, 61%);
  position: relative;
}

.image-iteam-a {
  position: absolute;

  width: 90px;
  height: auto;
  top: -50px;
  overflow: hidden;
}

.image-iteam-a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.name-iteam-a p {
  padding-top: 30px;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.paragraph-iteam-a p {
  color: hsl(227, 12%, 61%);
}

/* Section 5 CSS */
.fourth_content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 80px 20px;
  color: white;
  row-gap: 30px;
  background-color: hsl(12, 88%, 59%);
}

.fourth-section-A h3 {
  font-size: 26px;
  font-weight: 900;
  background-color: hsl(12, 88%, 59%);
}

.fourth-section-B {
  background-color: hsl(12, 88%, 59%);
}

.fourth-section-B button {
  background-color: white;
  color: hsl(12, 88%, 59%);
  padding: 10px 25px;
  border: none;
  border-radius: 23px;
  text-transform: capitalize;
  text-decoration: none;
}

.fourth-section-B button:hover {
  color: white;
  background-color: hsl(228, 39%, 23%);
}
