.colors {
  width: 600px;
  height: 500px;
  background-color: hsl(0, 0%, 98%);
  background-color: hsl(13, 100%, 96%);
  background-color: hsl(233, 12%, 13%);
  background-color: hsl(227, 12%, 61%);
  background-color: hsl(228, 39%, 23%);
  background-color: hsl(12, 88%, 59%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  background-color: hsl(0, 0%, 98%);
  font-family: "Montserrat", sans-serif;
}

/* Section 1 CSS */
.main_navbar {
  position: sticky;
  top: 0;
}

nav {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  padding: 20px 20px;
  box-sizing: border-box;
}

nav .nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: capitalize;
}

nav .nav-list .nav-items {
  display: grid;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
}

nav .nav-list .nav-items .nav-links {
  color: black;
  font-weight: bold;
}

nav .nav-list .nav-items .nav-links:hover {
  color: hsl(12, 88%, 59%);
  font-weight: 900;
  text-decoration: underline;
  font-size: 17px;
}

.nav-list-second {
  display: grid;
  justify-items: end;
}

nav .btn {
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 23px;
  text-transform: capitalize;
  text-decoration: none;
}

nav .btn:hover {
  color: white;
  background-color: hsl(228, 39%, 23%);
}

nav .navbar-toggler {
  display: none;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  background-color: hsl(228, 39%, 23%);
  border-radius: 23px;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .nav-list-second {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* Section 2 CSS */
.main_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.content_section {
  display: grid;
  row-gap: 30px;
  justify-items: center;
}

.main-heading {
  display: grid;
  justify-items: end;
  font-size: 24px;
  font-weight: 900;
  color: hsl(228, 39%, 23%);
}
.main-heading h1 {
  width: 75%;
}

.content-paragraph {
  display: grid;
  justify-items: center;
  color: hsl(227, 12%, 61%);
}

.content-paragraph p {
  width: 50%;
}

.content-button button {
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 23px;
  text-transform: capitalize;
  text-decoration: none;
}

.content-button button:hover {
  color: white;
  background-color: hsl(228, 39%, 23%);
}

.image_section {
  width: 100%;
}

.image-one {
  width: 570px;
  height: auto;
}
